name: Update copyright year(s) in license file

# on:
#   schedule:
#     - cron: '0 3 1 1 *' # 03:00 AM on January 1

on: [workflow_dispatch]

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  update-license-year:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true
      - uses: FantasticFiasco/action-update-license-year@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
